<div class="container mt-3  ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="thread">
                <h3>Judul Thread</h3>

                <div class="meta">
                    tanggal oleh
                </div>

                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, itaque. Tempore esse optio aut sed incidunt enim accusamus repellat quae necessitatibus, libero quia vero error reiciendis, aliquam, asperiores exercitationem facilis.
                </div>

                <div class="count">
                    10 obrolan
                </div>
            </div>
            <div class="thread">
                <h3>Judul Thread</h3>

                <div class="meta">
                    tanggal oleh
                </div>

                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, itaque. Tempore esse optio aut sed incidunt enim accusamus repellat quae necessitatibus, libero quia vero error reiciendis, aliquam, asperiores exercitationem facilis.
                </div>

                <div class="count">
                    10 obrolan
                </div>
            </div>
        </div>
    </div>
</div>